@import "../../global.scss";

.topbar {
    background-color: white;
    color: $maincolor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    letter-spacing: 2px;
     @include mobile{
            letter-spacing: 1px;
        }

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile{
            padding: 15px 8px;
        }

        .left {
            display: flex;
            align-items: center;
            .logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
                font-family: 'Poppins', sans-serif;
                
                  @include mobile {
                      font-size: 10px;
                      margin-right: 10px;
                  }
            }
            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;
                 @include mobile {
                      margin-left: 5px;
                  }

                .icon {
                font-size: 18px;
                margin-right: 5px;
                 @include mobile {
                      font-size: 10px;
                  }
                }
                span {
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
                     @include mobile {
                      font-size: 6px;
                  }
                }
            }
            .githubLink{
                text-decoration: none;
                color: $maincolor;
                font-family: inherit;
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                @include mobile{
                    width: 13px;
                    height: 12px;
                }

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $maincolor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active{
        background-color: $maincolor;
        color: white;

        .hamburger {

            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}