 @import "../../global.scss";
 li {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
     @include mobile{
            font-size: 10px;
            margin: 3px;
            padding: 3px;
            overflow-y: hidden;
            // height: 10px;
        }

        &.active{
            background-color: $maincolor;
            color: white;
        }
}